<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ page.title }} | Hsin-Pei Chen</title>

  <link rel="icon" type="image/png" href="/photos/web-logo.png">

  <meta name="description" content="Hsin-Pei Chen, Astronomy PhD student at UT Austin researching star formation and cosmic rays.">

  <meta property="og:title" content="{{ page.title }} | Hsin-Pei Chen">
  <meta property="og:description" content="Astronomy PhD Student at UT Austin.">
  <meta property="og:image" content="https://hsinpeichen.com/photos/avatar.png">
  <meta property="og:url" content="https://hsinpeichen.com{{ page.url }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="wrapper">
    {{ content }}
  </div>
</body>
</html>